<ion-header>
  <ion-toolbar>
    <ion-title>Existing Rentals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click) = "navigateToRentalDetailsPage()"> Rentail Details Page</ion-button>
  <ion-button (click) = "navigateToCreateNewRentalPage()"> Create a New Rental </ion-button>
  <table> 
    <tr> 
      <th colspan = "3"> Available Rentals</th> 
    </tr>
    <tr>
        <td>Location </td>
        <td>Price </td>
        <td>Description </td>
      </tr>

      <tr>
        <td>Location </td>
        <td>Price </td>
        <td>Description </td>
      </tr>

      <tr>
        <td>Location </td>
        <td>Price </td>
        <td>Description </td>
      </tr>
  </table>


</ion-content>

